.about-us {
  margin-bottom: 40px;
  margin-left: -2px;
}

.about-us__subtitel {
  margin-top: 0;
  margin-bottom: 28px;
  padding: 0;
}

.about-us__list {
  display: flex;
  flex-direction: column;

  margin-top: 0;
  margin-bottom: 0;
}

.about-us__item {
  display: block;
  position: relative;

  min-height: 90px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 57px;
  padding-bottom: 0;

  font-family: "OpenSans bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;

  &::before {
    display: block;
    position: absolute;
    content: " ";
    top: 0;

    background-repeat: no-repeat;
  }

  &--icon-flower {
    margin-bottom: 30px;

    &::before {
      top: 2px;
      left: 8px;

      width: 32px;
      height: 38px;

      background-image: url("../img/icon-feature-flower-green.svg");
      background-size: 32px 38px;
    }
  }

  &--icon-banknote {
    margin-bottom: 36px;
    padding-top: 55px;

    &::before {
      top: 1px;
      left: 1px;
      width: 47px;
      height: 27px;
      background-image: url("../img/icon-feature-money-green.svg");
      background-size: 47px 27px;
    }
  }

  &--icon-heart {
    margin-bottom: 30px;
    padding-top: 48px;

    &::before {
      left: 8px;

      width: 34px;
      height: 27px;
      margin-bottom: 10px;

      background-image: url("../img/icon-feature-heart-green.svg");
      background-size: 34px 27px;
    }
  }

  &--icon-handmade {
    margin-bottom: 27px;
    padding-top: 50px;

    &::before {
      left: 3px;

      width: 35px;
      height: 34px; // сверху и снизу - прозрачные отступы
      margin-bottom: 10px;

      background-image: url("../img/icon-feature-ball-green.svg");
      background-size: 35px 34px;
    }
  }

  &--icon-rocket {
    margin-bottom: 31px;

    &::before {
      left: -5px;

      width: 55px;
      height: 34px; // сверху и снизу - прозрачные отступы
      margin-bottom: 10px;

      background-image: url("../img/icon-feature-rocket-green.svg");
      background-size: 55px 34px;
    }
  }

  &--icon-gift {
    margin-bottom: 0;
    padding-top: 53px;

    &::before {
      left: 3px;

      width: 35px;
      height: 34px; // сверху и снизу - прозрачные отступы
      margin-bottom: 10px;

      background-image: url("../img/icon-feature-gift-green.svg");
      background-size: 35px 34px;
    }
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    margin-bottom: 82px;
  }

  .about-us__subtitel {
    margin-bottom: 45px;
  }

  .about-us__flex-container {
    display: flex;
  }

  .about-us__list {
    width: 50%;
  }

  .about-us__item {
    left: 3px;
    margin-bottom: 64px;

    font-size: 20px;
    line-height: 22px;

    &--icon-flower {
      margin-bottom: 60px;
    }

    &--icon-heart {
      left: 4px;
      padding-top: 48px;
    }

    &--icon-handmade {
      margin-bottom: 55px;
      padding-top: 60px;

      &::before {
        top: 8px;
      }
    }

    &--icon-rocket {
      margin-bottom: 57px;
    }

    &--icon-gift {
      padding-top: 55px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    margin-bottom: 87px;
  }

  .about-us__subtitel {
    padding-left: 175px;
  }

  .about-us__list:first-child {
    padding-left: 175px;
  }

  .about-us__list:nth-child(2) {
    padding-right: 175px;
  }
}
