.burger-button {
  width: 20px;
  height: 14px;

  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;
  background-size: 20px 14px;
  background-image: url("../img/icon-menu-open.svg");
}
