.burger-button {
  display: none;
  width: 20px;
  height: 14px;

  border: none;
  background-color: transparent;
  background-size: 20px 14px;
  background-image: url("../img/icon-menu-open.svg");

  &:active {
    background-image: url("../img/icon-menu-close.svg");
  }
}

@media (min-width: $tablet-width) {
  .burger-button {
    display: none;
  }
}
