.cart-button {
  background-color: transparent;
  border: none;

  width: 20px;
  height: 19px;

  background-image: url("../img/icon-cart-grey.svg");

  &:hover {
    background-image: url("../img/icon-cart-green.svg");
  }

  &:active {
    background-image: url("../img/icon-cart-light-green.svg");
  }
}

@media (min-width: $tablet-width) {
  .cart-button {
    margin-right: 8px;
  }
}

@media (min-width: $desktop-width) {
  .cart-button {
    margin-right: 5px;
  }
}
