.cart-button {
  background-color: transparent;
  border: none;

  width: 20px;
  height: 19px;

  background-image: url("../img/icon-cart-grey.svg");
}

@media (min-width: $tablet-width) {
  .cart-button {
    margin-right: 8px;
  }
}
