.contacts {
  margin-bottom: 38px;
  padding-top: 2px;
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 26px;
  padding-top: 5px;
}

.contacts__text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  color: $second-color;
  font-size: 15px;
  line-height: 30px;
}

.contacts__left-field {
  display: block;

  width: 70px;
  min-height: 25px;
  margin-top: 0;
  margin-right: 5px;
  margin-bottom: 15px;
  margin-left: 0;
}

.contacts__right-field {
  display: block;
  position: relative;
  width: 185px;
  min-height: 60px;
  margin: 0;
  color: $second-color;
  font-size: 15px;
  line-height: 30px;
  font-style: normal;

  &--line-bottom::after {
    position: absolute;
    bottom: 30px;
    left: 0;
    display: block;
    content: "";
    width: 185px;
    height: 1px;
    border-bottom: 1px solid #62d1ba;
    }
}
