.contacts {
  margin-bottom: 38px;
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 27px;
  margin-left: -6px;
  padding-top: 7px;
}

.contacts__text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  margin-left: -3px;

  color: $second-color;
  font-size: 15px;
  line-height: 30px;
}

.contacts__left-field {
  display: block;

  width: 70px;
  min-height: 25px;
  margin-top: 0;
  margin-right: 5px;
  margin-bottom: 15px;
  margin-left: 0;
}

.contacts__right-field {
  display: block;
  position: relative;
  width: 185px;
  min-height: 60px;
  margin: 0;
  color: $second-color;
  font-size: 15px;
  line-height: 30px;
  font-style: normal;

  &--line-bottom::after {
    position: absolute;
    bottom: 30px;
    left: -1px;
    bottom: 32px;
    display: block;
    content: "";
    width: 185px;
    height: 1px;
    border-bottom: 1px solid #62d1ba;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 100%;
    margin-bottom: 57px;
  }

  .contacts__title {
    position: relative;

    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 7px;

    &::after {
      content: " ";
      position: absolute;
      top: -7px;
      right: 5px;

      width: 47px;
      height: 81px;

      background-size: cover;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contacts__flex-container {
    display: flex;
    margin-left: 0;
  }

  .contacts__text {
    justify-content: flex-start;
    margin-left: 0;

    &--first {
      margin-right: 30px;
    }
  }

  .contacts__left-field {
    width: 70px;
    margin-right: 5px;

    font-size: 17px;
  }

  .contacts__right-field {
    width: 230px;
    margin: 0;

    font-size: 17px;

    &--line-bottom::after {
      bottom: 58px;
      left: 3px;
      width: 200px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    order: 0;

    margin-bottom: 0;
  }

  .contacts__title {
    margin-bottom: 30px;
    margin-left: 0;
    padding-top: 72px;
    padding-bottom: 20px;
    padding-left: 170px;

    &::after {
      content: " ";
      position: absolute;
      top: 65px;
      left: 63px;

      width: 47px;
      height: 81px;

      background-size: cover;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contacts__flex-container {
    flex-direction: column;

    width: 525px;
    padding-left: 175px;

    .contacts__right-field--line-bottom::after {
      bottom: 30px;
    }
  }
}
