.description-field {
  display: block;

  width: 260px;
  min-height: 143px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;

  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.5px;
  border: 2px solid #444444;
}
