.description-field {
  display: block;

  width: 260px;
  min-height: 143px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;

  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.5px;
  border: 2px solid #444444;
}

@media (min-width: $tablet-width) {

  .description-field {
    width: 500px;
    margin-top: 8px;
    padding-top: 12px;

    font-size: 19px;
    line-height: 18px;
    letter-spacing: normal;
  }
}
