.email-field {
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    top: 12px;
    left: 225px;
    z-index: 3;

    width: 32px;
    height: 25px;
    opacity: 30%;

    background-size: cover;
    background-image: url("../img/icon-mail.svg");
  }
}

.email-field__input {
  padding-top: 17px;
  padding-bottom: 16px;
  width: 260px;

  color: rgba(0, 0, 0, 0.3);
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;

  border-top: none;
  border-right: none;
  border-bottom: 2px solid #000000;
  border-left: none;
}


@media (min-width: $tablet-width) {
  .email-field {
    width: 500px;

    &::after {
      top: 12px;
      left: 448px;
    }
  }

  .email-field__input {
    width: 100%;
    padding-top: 15px;
    padding-left: 17px;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .email-field {
    width: 700px;

    &::after {
      top: 12px;
      left: 665px;
    }
  }
}
