.feedback {
  margin-bottom: 40px;
}

.feedback__titel {
  margin: 0;
  padding-top: 19px;
  margin-bottom: 23px;
}

.feedback__block {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 35px;
  margin-left: 0;
}

.feedback__text {
  padding-top: 0;
  margin-bottom: 24px;

  color: $second-color;
  font-size: 15px;
  line-height: 31px;
}

.feedback__author {
  display: block;

  margin-bottom: 10px;
  padding-top: 3px;

  font-family: "OpenSans bold", "Arial", sans-serif;
  font-size: 17px;
  font-style: normal;
}

.feedback__author-social {
  display: block;
  margin-bottom: 0;

  color: $second-color;
  font-size: 17px;
  font-style: normal;
}

.feedback__buttons {
  display: flex;
  margin-bottom: 38px;
}

.feedback__button {
  width: 130px;
  height: 52px;

  background-color: $opposit-color;
  border: 1px solid $light-grey;
}

.feedback__button--prev {
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.feedback__button--next {
  margin-left: -1px;
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.feedback__writeUsButton {
  display: block;

  margin-bottom: 0;
  letter-spacing: 1px;
}

.feedback.wave-line::after {
  bottom: -12px;
}

@media (min-width: $tablet-width) {
  .feedback {
    position: relative;
    margin-bottom: 35px;
    padding-bottom: 150px;

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;

      width: 350px;
      height: 457px;

      background-size: cover;
      background-image: url("../img/review@1x.jpg");
    }
    //
    // &::after {
    //   content: " ";
    //   position: absolute;
    //   z-index: 3;
    //   top: 550px;
    //   left: 0;
    //
    //   width: 768px;
    //   height: 24px;
    //
    //   background-size: cover;
    //   background-image: url("../img/bg-zigzag-line.svg");
    //   background-position: 0 0;
    // }
  }

  .feedback__titel {
    position: relative;
    z-index: 2;

    margin-left: -5px;
    padding-top: 80px;
    padding-bottom: 25px;
  }

  .feedback__block {
    position: relative;
    z-index: 2;

    margin-bottom: 0;
  }

  .feedback__text {
    margin-right: 20px;
    margin-bottom: 55px;
    font-size: 17px;
  }

  .feedback__author {
    letter-spacing: 0.8px;
  }

  .feedback__buttons {
    position: absolute;
    right: 53px;
    bottom: 155px;

    width: 171px;
    margin: 0;
  }

  .feedback__button {
    border-style: none;
  }

  .feedback__writeUsButton {
    position: absolute;
    z-index: 2;
    top: 80px;
    right: 50px;

    margin: 0;
  }
}
