.feedback {
margin-bottom: 10px;
padding-bottom: 10px;
}

.feedback__titel {
  margin-bottom: 24px;
  padding-top: 6px;
}

.feedback__block {
  margin: 0;
}

.feedback__text {
  margin-bottom: 32px;

  color: $second-color;
  font-size: 15px;
  line-height: 30px;
  // border: 1px solid red;
}

.feedback__author {
  margin-bottom: 10px;
  font-family: "OpenSans bold";
  font-size: 17px;
  font-style: normal;
}

.feedback__author-social {
  display: block;
  margin-top: 10px;
  margin-bottom: 35px;

  color: $second-color;
  font-size: 17px;
  font-style: normal;
}

.feedback__buttons {
  display: flex;
  margin-bottom: 30px;
}

.feedback__button {
  width: 130px;
  height: 52px;
  margin-bottom: 10px;

  background-color: $opposit-color;
  border: 1px solid $light-grey;
}

.feedback__button--prev {
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.feedback__button--next {
  margin-left: -1px;
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.feedback__writeUsButton {
  display: block;

  margin-bottom: 40px; //после этой кнопки отступ на 10рх больше, чем после "ЗАКАЗТЬ"

}
