.grey-header {
  min-height: 177px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 29px;
  margin-left: 0;
  padding-top: 70px;
  background-color: $footer-grey;

  &--form {
    margin-bottom: 21px;
  }
}

@media (min-width: $tablet-width) {
  .grey-header {
    position: relative;

    min-height: 230px;
    margin-bottom: 73px;
    padding-top: 95px;

    &--form {
      margin-bottom: 60px;
      padding-top: 93px;
    }

    &::after {
      content: " ";
      position: absolute;
      z-index: 3;
      bottom: -5px;
      left: 0;
      width: $tablet-width;
      height: 24px;

      background-size: cover;
      background-image: url("../img/zigzag-fill-desktop.png");
      background-position: 0 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .grey-header {
    min-height: 270px;
    margin-bottom: 111px;
    padding-top: 95px;

    &--form {
      margin-bottom: 100px;
    }

    &::after {
      bottom: 0;

      width: $desktop-width;
      height: 34px;

      background-size: cover;
      background-image: url("../img/zigzag-fill-desktop_.png");
    }
  }
}
