.input-field {
  margin-bottom: 16px;
  padding-top: 5px;
  padding-left: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.input-field__input {
  display: block;
  position: relative;

  padding-top: 17px;
  padding-bottom: 15px;
  width: 260px;

  color: rgba(0, 0, 0, 0.3);
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;

  border-top: none;
  border-right: none;
  border-bottom: 2px solid #000000;
  border-left: none;
}

.input-field__label {
  font-family: "OpenSans bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
}
