.layout {
  padding-right: 30px;
  padding-left: 30px;
}

.layout--no-gutters {
  padding: 0;
}

/*  1) На главной странице (index.html) использую класс layout, чтобы задать  отступы слева и справа при помощи padding, а на странице каталога отступы слева и справа задаю при помощи margin, так как у карточек товара есть рамка.
 Если так делать нельзя - переделаю. */
.layout--margin {  // 1)
  margin-right: 30px;
  margin-left: 30px;
}
