.main-header {
  width: 320px;
  height: 355px;
  padding-top: 70px; // "в этой ситуации лучше задать паддинг топ родителю"

  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: -127px -20px;
  // background-size: 320px 373px;
  // border: 1px dashed grey;
}

.main-header__heading {
  margin: 0;

  font-size: 27px;
  line-height: 30px;
}


@media (min-width: $tablet-width) {
  .main-header {
    width: 768px;
    height: 746px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: -190px 0;

    &::after {
      content: " ";
      position: absolute;
      z-index: 3;
      top: 732px;
      left: 0;
      width: 768px;
      height: 24px;

      background-size: cover;
      background-image: url("../img/zigzag-fill-desktop.png");
      background-position: 0 0;
    }
  }

  .main-header__heading {
    padding-top: 83px;

    font-size: 43px;
    line-height: 50px;
  }
}
