.main-block {
  position: relative;
  margin-top: 0;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .main-block {
    position: relative;
    z-index: 1;

    margin-top: -50px;
  }
}

@media (min-width: $desktop-width) {
  .main-block {
    position: relative;
    margin-top: -41px;
  }
}
