.map {
  position: relative;
  margin-bottom: 30px;
}

.map__img {
  display: block;

  width: 320px;
  height: 457px;

  background-image: url("../img/map-mobile@1x.jpg");

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: $mobile-width auto;
  }
}

.map__pointer::after {
  display: block;
  content: " ";
  position: absolute;
  bottom: 215px;
  right: 115px;

  width: 67px;
  height: 100px;

  background-image: url("../img/icon-map-pin.svg");
  background-size: 67px 100px;
  background-repeat: no-repeat;
}

.map__icon {
  position: absolute;
}

@media (min-width: $tablet-width) {
  .map {
    margin-bottom: 45px;
  }

  .map__img {
    width: 768px;
    height: 457px;

    background-image: url("../img/map-tablet@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: $tablet-width auto;
    }
  }

  .map__pointer::after {
    left: 47%;
    top: 30%;
  }
}

@media (min-width: $desktop-width) {
  .map {
    order: 2;

    margin-right: 50px;
    margin-bottom: 0;
  }

  .map__img {
    width: 525px;
    height: 457px;

    background-image: url("../img/map-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: $tablet-width auto;
    }
  }
}
