.menu {
  width: 30px;
}

@media (max-width: $tablet-width) {
  .menu__button {
      margin-top: 11px;
      margin-left: 3px;
      padding: 0;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
  }

  .menu__item {
    &:first-child {
      margin-top: 57px;
    }
    width: 320px;
    margin-left: -270px;
    padding-top: 27px;
    padding-bottom: 28px;
    padding-left: 80px;
  }

    &:last-child {
      margin-bottom: 1px;
    }
  }

  .menu__item {
    &--free-delivery {
      display: none;
    }

    &--new-items {
      display: none;
    }

    &--sale {
      display: none;
    }

    &--placeholder {
      display: none;
    }
  }

  .menu__link {
    font-family: 'OpenSans bold', 'Arial', sans-serif;
    font-size: 17px;
    line-height: 24px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &--icon-search {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 3px;
        left: -48px;
        width: 22px;
        height: 20px;

        background-size: cover;
        background-image: url("../img/icon-search.svg");
      }

      &:hover::before {
        background-image: url("../img/icon-search-green.svg");
      }

      &:active::before {
        background-image: url("../img/icon-search-light-green.svg");
      }
    }

    &--icon-cart {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 3px;
        left: -48px;
        width: 22px;
        height: 20px;

        background-size: cover;
        background-image: url("../img/icon-cart-grey.svg");
      }

      &:hover::before {
        background-image: url("../img/icon-cart-green.svg");
      }

      &:active::before {
        background-image: url("../img/icon-cart-light-green.svg");
      }
  }
}

@media (min-width: $tablet-width) {
  .menu {
    display: block;
    width: 100%;
  }

  .menu__wrapper {
    display: block;
    min-height: 130px;
  }

  .menu__list {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    min-height: 110px;

    font-family: "OpenSans bold", "Arial", sans-serif;
    font-size: 15px;
    line-height: 24px;
  }

  .menu__item {
    display: block;
    position: relative;

    min-height: 50px;

    &--placeholder {
      order: 1;
      width: 370px;
      border-bottom: 1px solid $light-grey;
    }

    &--search {
      order: 2;

      width: 83px;
      min-height: 89px;

      border-bottom: 1px solid $light-grey;
      border-left: 1px solid $light-grey;
    }

    &--cart {
      order: 3;
      position: relative;
      width: 314px;
      padding-top: 30px;
      padding-left: 82px;

      font-size: 17px;
      letter-spacing: normal;
      border-bottom: 1px solid $light-grey;
      border-left: 1px solid $light-grey;
    }

    &--catalog {
      order: 4;

      margin-right: 37px;
      padding-top: 17px;
      padding-left: 49px;
    }

    &--knitting {
      order: 5;

      margin-right: 133px;
      padding-top: 17px;
    }

    &--free-delivery {
      display: block;
      order: 6;

      padding-top: 17px;

      font-family: "OpenSans", "Arial", sans-serif;
      letter-spacing: 0.23px;
    }

    &--new-items {
      display: none;
    }

    &--sale {
      display: none;
    }
  }

  .menu__status {
    font-family: "OpenSans bold", "Arial", sans-serif;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: normal;
  }

  .menu__link {
    display: block;

    width: 100%;
    height: 100%;

    &--icon-cart {
      position: relative;
      font-size: 17px;

      &::before {
        content: "";
        position: absolute;
        top: 3px;
        left: -51px;
        width: 22px;
        height: 20px;

        background-size: cover;
        background-image: url("../img/icon-cart-grey.svg");
      }
    }

    &--icon-search {
      position: relative;

      &::before {
        content: " ";
        position: absolute;
        left: 30px;
        top: 35px;

        width: 18px;
        height: 19px;

        background-size: cover;
        background-image: url("../img/icon-search.png");
        background-repeat: no-repeat;
        opacity: 1;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .menu {
    position: absolute;
    display: block;
    margin: 0;
  }

  .menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 100%;
    min-height: 110px;

    font-family: "OpenSans bold", "Arial", sans-serif;
    font-size: 17px;
    line-height: 24px;
  }

  .menu__item {
    display: block;
    margin: 0;

    &--catalog {
      order: 1;

      min-height: 89px;
      padding-right: 35px;
      padding-top: 30px;

      border-bottom: 1px solid $light-grey;
    }

    &--knitting {
      order: 2;

      padding-top: 30px;
      padding-right: 50px;
      padding-left: 35px;

      border-left: 1px solid $light-grey;
      border-bottom: 1px solid $light-grey;
    }

    &--placeholder {
      order: 3;
      width: 277px;
    }

    &--search {
      order: 4;
    }

    &--cart {
      order: 5;
    }

    &--new-items {
      order: 6;

      width: 230px;
      padding-top: 18px;
      padding-left: 50px;

      font-size: 15px;
      line-height: 24px;
    }

    &--sale {
      order: 7;
      width: 230px;
      padding-top: 18px;
      padding-left: 40px;

      font-size: 15px;
      line-height: 24px;
    }

    &--free-delivery {
      order: 8;

      margin-right: 50px;
      margin-left: auto;

      font-family: "OpenSans", "Arial", sans-serif;
      font-size: 15px;
      line-height: 24px;
    }
  }
}
