.order-form {
  display: block;
  margin-bottom: 56px;
}

.order-form__fieldset {
  border: none;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
}

.order-form__fieldset--optionally {
  margin-bottom: 16px;
}

.order-form__legend {
  margin-bottom: 23px;
}

.order-form__rem {
  width: 260px;
  margin-bottom: 32px;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}


@media (min-width: $tablet-width) {
  .order-form {
    margin-bottom: 52px;
  }

  .order-form__background-wrapper {
    background-color: $footer-grey;

    &--contacts {
      min-height: 228px;
      margin-bottom: 40px;
    }
  }

  .order-form__fieldset {
    display: flex;
    flex-direction: row;

    &--layout {
      margin-right: 50px;
      margin-left: 50px;
    }

    &--type {
      margin-bottom: 45px;
    }

    &--color {
      min-height: 304px;
      padding-top: 50px;
    }

    &--name {
      margin-bottom: 50px;
      padding-top: 13px;
    }

    &--tel {
      margin-bottom: 20px;
      padding-top: 42px;
    }

    &--optionally {
      margin-bottom: 50px;
      padding-top: 3px;
    }
  }

  .order-form__buttons-wrapper {
    display: flex;
    flex-direction: column;

    &--type {
      min-height: 140px;
      padding-top: 8px;
    }

    &--color {
      flex-direction: row;
      flex-wrap: wrap;

      width: 500px;
      margin-bottom: 37px;
    }

    &--name {
      flex-grow: 1;
    }
  }

  .order-form__legend {
    width: 160px;
    margin-right: 7px;
    padding-top: 25px;

    &--color {
      padding-top: 20px;
    }

    &--email {
      padding-top: 20px;
    }
  }

  .order-form__wrapper {
    display: flex;
  }

  .order-form__rem {
    order: 2;
    flex-grow: 2;

    margin-bottom: 0;
    padding-top: 8px;

    font-size: 17px;
    line-height: 30px;
    letter-spacing: normal;
  }

  .order-form__button-send {
    width: 230px;
    margin-right: 135px;
  }
}

@media (min-width: $desktop-width) {
  .order-form {
    margin-bottom: 47px;
  }

  .order-form__fieldset {
    &--layout {
      margin-right: 225px;
      margin-left: 112px;
    }

    &--layout-color {
      margin-right: 112px;
    }

    &--color {
      min-height: 228px;
      margin-bottom: 0;
    }

    &--name {
      padding-top: 45px;
    }

    &--optionally {
      margin-bottom: 49px;
    }
  }

  .order-form__buttons-wrapper {
    width: 700px;
    margin-bottom: 0;

    &--color {
      width: 813px;
      margin-bottom: 22px;
    }

    &--name {
      padding-left: 3px;
    }
  }

  .order-form__legend {
    width: 100px;
    margin-right: 12px;
  }

  .order-form__button-send {
    width: 230px;
    margin-right: 165px;
    margin-left: 115px;
  }
}
