.page-header {
  display: flex;
  flex-wrap: wrap;

  min-height: 80px;
  padding-top: 20px;
}

// @media(){}
.page-header__logo {
  width: 86px;
  height: 35px;
  margin-left: 85px;

  background-size: cover;
  background-image: url("../img/mishka-logo-mobile.png");
  background-repeat: no-repeat;
  border: none;
}

@media(min-width: $tablet-width) {
  .page-header {
    position: relative;
  }

  .page-header__logo {
    z-index: 2;

    width: 113px;
    height: 46px;
    padding-left: 0;

    background-size: cover;
    background-image: url("../img/mishka-logo-tablet.png");
  }
}
