.social {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 35px;
  padding-top: 0;
  // 
  // &::after {
  //   position: absolute;
  //   bottom: 0;
  //   left: 30px;
  //   content: "";
  //   width: 260px;
  //   height: 1px;
  //   border-bottom: 1px solid $grey;
  // }
}

.social-item {
  display: block;

  width: 30px;
  height: 30px;
}

.social__link {
  &--instagram {
    display: block;

    width: 22px;
    height: 21px;
    // padding: 0;
    background-image: url("../img/icon-insta.svg");
    background-size: 22px 21px;
    background-repeat: no-repeat;
  }

  &--facebook {
    display: block;

    width: 15px;
    height: 28px;
    margin-right: 40px;
    margin-left: 40px;

    background-image: url("../img/icon-fb.svg");
    background-size: 15px 26px;
    background-repeat: no-repeat;
  }

  &--twitter {
    display: block;

    width: 23px;
    height: 20px;

    background-image: url("../img/icon-twitter.svg");
    background-size: 23px 20px;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .social {
    min-height: 35px;

    &::after {
      display: none;
    }
  }
}
