.subtitle {
  font-family: "OpenSans bold", "Arial", sans-serif;
  font-size: 25px;
  line-height: 30px;

  &--less {
    font-family: "OpenSans bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
  }
}


@media (min-width: $tablet-width) {
  .subtitle {
    font-size: 43px;
    line-height: 50px;
  }
}
