.table {
  order: 2;

  margin-bottom: 20px;
  margin-left: -5px;

  color: $second-color;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.table__info {
  display: block;
  min-height: 40px;
}

.table__feature {
  width: 95px;
}
