.table {
  order: 2;

  margin-left: -4px;
  margin-bottom: 25px;

  color: $second-color;
  font-family: "OpenSans";
  font-size: 15px;
  line-height: 20px;
}

.table__info {
  display: block;

  min-height: 39px;
  padding-top: 7px;
  padding-bottom: 8px;

  border-bottom: 1px solid $light-grey;
}

.table__feature {
  min-width: 94px;
}
