.table {
  order: 2;

  width: 100%;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;

  color: $second-color;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.table__info {
  display: block;
  width: 100%; //260px;
  min-height: 35px;
  margin-bottom: 5px;

  border-bottom: 1px solid $light-grey;
}

.table__feature {
  width: 90px;
  margin-left: -2px;
}

.table-value {
  width: 130px;
}

@media (min-width: $tablet-width) {
  .table {
    margin-bottom: 48px;
    margin-left: -3px;
  }

  .table__feature {
    width: 80px;
  }

  .table__value {
    width: 190px;
    padding-left: 12px;
  }
}

@media (min-width: $desktop-width) {
  .table {
    margin-bottom: 100px;
  }
}
