.tel-field {
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    top: 12px;
    left: 227px;
    z-index: 3;

    width: 25px;
    height: 24px;
    opacity: 30%;

    background-size: cover;
    background-image: url("../img/icon-phone.svg");
  }
}

.tel-field__input {
  padding-top: 17px;
  padding-bottom: 18px;
  width: 260px;

  color: rgba(0, 0, 0, 0.3);
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;

  border-top: none;
  border-right: none;
  border-bottom: 2px solid #000000;
  border-left: none;
}

@media (min-width: $tablet-width) {
  .tel-field {
    width: 500px;

    &::after {
      top: 20px;
      left: 450px;
    }
  }

  .tel-field__input {
    width: 100%;
    padding-top: 21px;
    padding-left: 17px;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .tel-field {
    width: 700px;

    &::after {
      top: 20px;
      left: 670px;
    }
  }
}
