.wave-line {
  position: relative;
  padding-bottom: 40px;

  &::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;

    content: " ";

    width: 320px;
    height: 6px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 319px 6px;
  }
}

@media (min-width: $tablet-width) {
  .wave-line::after {
    display: none;
  }
}
