.wave-line {
  position: relative;
  &::after {
    display: block;
    position: absolute;
    bottom: -40px;
    left: 0;

    content:" ";

    width: 320px;
    height: 6px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 319px 6px;
  }
}
