.week-product {
  margin-bottom: 30px;
}

.week-product__titel-wrapper {
  display: flex;
  flex-direction: column;
}

.week-product__subtitel { // "Вязаные корзинки"
  order: 0;
  margin: 0;
}

.week-product__titel {  // "Товар недели""
  order: 1;

  padding-top: 3px;
  margin-bottom: 0;

  color: $accent-color;
  font-family: "OpenSans bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}

.week-product__description {
  order: 2;

  padding-top: 24px;
  margin-bottom: 22px;

  color: $second-color;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
}

.week-product__foto {
  order: 2;
  margin-bottom: 24px;

  // background-image: url("../img/triple-set-mobile@1x.jpg");
}

.week-product__price {
  order: 2;

  margin-bottom: 26px;
  margin-left: -2px;
  color: $main-color;
  font-family: "OpenSans bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.week-product__order {
  order: 2;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .week-product__titel-wrapper {
    display: flex;
    flex-direction: row;
  }

  .week-product__subtitel {
    margin-right: 70px;
    padding-top: 15px;
  }

  .week-product__titel {
    width: 167px;
    padding-top: 24px;
    padding-left: 57px;

    line-height: 19px;
    text-align: center;
  }
}
