// colors:
$main-color: #000000;
$second-color: #444444;
$opposit-color: #ffffff;
$accent-color: #63d1bb;
$accent-color-2: #56c3b2;
$green-icons: #3bb09d;
$grey: #e5e5e5;
$footer-grey: #f1f1f1;
$light-grey: #ececec;
